
  body {background-color: black;}



      div.b {
        text-align: left;
      }

      div.title{
        font-size: 180px;
        font-family:    'VT323';
        color:          #7E4AB1;
        -webkit-text-stroke: 3px white;
        text-align: center;
      }

  
      .search-bar {
        width: 100%;
        max-width:700%;
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: right;
        border-radius: 60px;
        padding: 10px 20px;
      }
      .bodycontainer_introduction {
        width: 70%;
        background: linear-gradient(black, #7E4AB1, black);
        margin-left: auto;
        margin-right: auto;
      }

      .bodycontainer_lore {
        width: 70%;
        background: linear-gradient(black, #7E4AB1, black);
        margin-left: auto;
        margin-right: auto;
      }
      .bodycontainer_video {
        width: 70%;
        background: linear-gradient(black, #7E4AB1, black);
        margin-left: auto;
        margin-right: auto;
      }
      footer {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color:black;
        font-size: 45px;
      }

      .footertext{
        font-family:    'VT323';
            font-size:      50px;
            color:          white;
            margin: 7px;
            padding: 3%;
            text-indent: 2%;
            text-align: center;
      }

      a{
        font-family:    'VT323';
            font-size:      30px;
            color:          white;
            margin: 7px;
            padding: 3%;
            text-indent: 2%;
            text-decoration: none; 
      }

      .text
          {
            font-family:    'VT323';
            font-size:      50px;
            color:          white;
            margin: 7px;
            padding: 3%;
            text-indent: 2%;
            text-align: left;
          }
      
      .subtext
          {
            font-family:    'VT323';
            font-size:      30px;
            color:          white;
            margin-top: 1%;
            padding: 1%;
            text-align: center;
          }

        nav > ul
          {
            padding-left: 0px;
            background-color: #7E4AB1;
            text-align: center;
            font-size: 30px;
          }

        nav > ul > li 
          {
            display: inline-block;
            padding: 1% 5%;
            font-size: 50px;
          }

        nav > ul > li > a 
          {
            color: white;
            text-decoration: none;
          }

        

    body {background-color: black;}

    a{
        font-family:    'VT323';
        font-size:      30px;
        color:          white;
        padding: 5px;
        text-decoration: none; 
      }

    .title
          {
            font-family:    'VT323';
            font-size:      70px;
            color:          #7E4AB1;
            -webkit-text-stroke: 1px white;
            text-indent: 5%;
          }

      .episode
          {
            font-family:    'VT323';
            font-size:      100px;
            color:          #7E4AB1;
            -webkit-text-stroke: 1px white;
            text-align: center;
          }

    .epdescbox 
    {
      width: 70%;
      background: linear-gradient(black, #7E4AB1);
      margin-left: auto;
      margin-right: auto;
    } 

    div.epdesc
    {
      font-family:    'VT323';
      font-size:      20px;
      color:          white;
      text-indent: 5%;
      margin-left: 2%;
      padding: 2%;
    }

      .center > img 
        {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 70%;
        }
      .center > video 
        {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }

      iframe{
        display: block;
          margin-left: auto;
          margin-right: auto;
          width: 70%;
          height: 70%;
      }

      .video{
        width: 100vw;
        height: 100vh;
      }

    .p {
  text-align: left;
}
    
.firstSpan {
  color: #7E4AB1;
}
    
.firstSpan .secondSpan {
  visibility: hidden;
  background-color:black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
  .secondSpan{
    font-size: 30px;
  }
    
.firstSpan:hover .secondSpan {
  visibility: visible;
}

    .tooltip {
  position: relative;
  display: inline-block;
  padding: 1% 5%;
  color: #7E4AB1;
  opacity: 0.65;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #511877;
  font-family:    'VT323';
  color: #fff;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  opacity: 1;
}

ul.membernav 
          {
            padding-left: 0px;
            background-color: #511877;
            text-align: center;
            font-size: 15px;
            list-style-type: none;
          }
ul.membernav > li:hover{
  opacity: 0.5;
}

div.memberdesc
    {
      font-family:    'VT323';
      font-size:      50px;
      color:          white;
      text-indent: 5%;
      margin-left: 2%;
      padding: 2%;
    }
.yt {
	background: url('../fea7ef4e3ea0f16829d9986a1f4ff93e.jpg') no-repeat -296px -224px;
	width: 150px;
	height: 150px;
  transition: transform 0.75s;
}
.yt:hover {
  transform: scale(1.25);
}
.spotify {
	background: url('../fea7ef4e3ea0f16829d9986a1f4ff93e.jpg') no-repeat -760px -384px;
	width: 150px;
	height: 150px;
  transition: transform 0.75s;
}
.spotify:hover {
  transform: scale(1.25);
}
.ig {
	background: url('../fea7ef4e3ea0f16829d9986a1f4ff93e.jpg') no-repeat -296px -72px;
	width: 150px;
	height: 150px;
  transition: transform 0.75s;
}
.ig:hover {
  transform: scale(1.25);
}
.twt {
	background: url('../fea7ef4e3ea0f16829d9986a1f4ff93e.jpg') no-repeat -912px -72px;
	width: 150px;
	height: 150px;
  transition: transform 0.75s;
}
.twt:hover {
  transform: scale(1.25);
}
    .socmedlinks > ul
          {
            padding-left: 0px;
            background-color: black;;
            text-align: center;
            font-size: 30px;
          }

  div.socmedlinks > ul > a  
          {
            display: inline-block;
            padding: 1% 5%;
            font-size: 50px;
          }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

@media only screen and (max-width: 750px) {
            div.title{
              font-size: 100px;
            }
            .text {
              font-size: 20px;
            }
            .subtext{
              font-size: 10px;
            }
            .footertext{
              font-size: 20px;
            }
            .yt{
              scale:0.5;
            }
            .yt:hover {
              transform: scale(1.25);
            }
            .spotify{
              scale:0.5;
            }
            .spotify:hover {
              transform: scale(1.25);
            }
            .ig{
              scale:0.5;
            }
            .ig:hover {
              transform: scale(1.25);
            }
            .twt{
              scale:0.5;
            }
            .twt:hover {
              transform: scale(1.25);
            }
            
            .flex-container a{
              width: 75px;
              height: 75px;
            }

            .memberdesc li{
              font-size: 20px;
            }
            .memberdesc li>a{
              font-size: 10px;
            }
            .firstSpan .secondSpan{
              font-size: 20px;
            }
            .tooltip a{
              font-size: 15px;
            }
          }